.App {
  text-align: center;
  background-color: #070129;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  user-select: none;
}

.colorModeOn {
  color: #FFD900;
  font-size: calc(15px + 2vmin);
  font-weight: bold;
}

.invisibleModeOn {
  opacity: 0;
}